<div class="ide-wrapper">
    <div class="container">
        <div class="ide">
            <div class="ide__header">
                <div class="ide__controls">
                    <div class="ide__control" style="background-color: #ff5f56;"></div>
                    <div class="ide__control" style="background-color: #ffbd2e;"></div>
                    <div class="ide__control" style="background-color: #27c93f;"></div>
                </div>
                <div class="ide__title">https://shop.conedevelopment.com</div>
            </div>
            <div class="ide__inner">
                <img src="/img/dashboard.png" alt="">
            </div>
        </div>
    </div>
</div>
