@use 'sprucecss/scss/spruce' as *;

.l-documentation {
  &--code {
    padding-block: 0 spacer-clamp('l', 'xl');
  }

  &__inner {
    display: grid;
    gap: spacer('xl');
    grid-template-columns: minmax(0, 1fr);

    @include breakpoint('sm') {
      grid-template-columns: minmax(0, 15rem) minmax(0, 1fr);
    }
  }

  &__sidebar {
    @include layout-stack(2.5rem);
    @include scrollbar(
      color('thumb-background', 'scrollbar'),
      color('thumb-background-hover', 'scrollbar'),
      color('track-background', 'scrollbar'),
      0.5rem,
      0.15rem
    );
    border-inline-end: 1px solid color('border');
    inset-block-start: 1rem;
    overflow-y: auto;
    padding-block: calc(#{spacer-clamp('m', 'l')} + #{spacer('xs')}) spacer-clamp('l', 'xl');
    padding-inline-end: spacer('m');

    @include breakpoint('sm') {
      inset-block-start: 0;
      max-block-size: 100dvh;
      position: sticky;
    }
  }

  &__body-helper {
    order: -1;

    @include breakpoint('sm') {
      order: 2;
    }
  }

  &__body {
    column-gap: spacer('xl');
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: minmax(0, 1fr);
    padding-block-start: spacer-clamp('m', 'l');
    row-gap: spacer('m');

    @include breakpoint('lg') {
      grid-template-columns: minmax(0, 1fr) minmax(0, 20rem);
    }
  }

  &__table-of-content {
    inset-block-start: 3.5rem;
    margin-inline: auto;
    max-inline-size: 45rem;
    position: sticky;

    &-helper {
      @include breakpoint('lg') {
        grid-column: 2 / 3;
        order: 2;
      }
    }
  }

  &__content {
    @include breakpoint('lg') {
      grid-column: 1 / 2;
    }

    .post-content {
      margin-inline: auto;
      max-inline-size: 45rem;
    }
  }

  &__title {
    font-size: responsive-font-size(3.3rem, 27.5, '3vw + 1rem');
    margin-block: 0;
    margin-inline: auto;
    max-inline-size: 45rem;

    @include breakpoint('lg') {
      grid-column: 1 / 2;
    }
  }

  &__navigation-bottom {
    border-block-start: 1px solid color('border');
    margin-block-start: spacer('xl');
    padding-block: spacer('m')  spacer-clamp('l', 'xl');
  }
}
