@use 'sprucecss/scss/spruce' as *;

.ide-wrapper {
  margin-inline: auto;
  max-inline-size: 74rem;
  padding-block-end: get-css-variable(--section-gap);
}

.ide {
  background-color: color('background');
  border: 1px solid color('border');
  border-radius: var(--doc-border-radius-md);
  box-shadow: 0 0 3rem hsl(0deg 0% 0% / 25%);
  font-size: 0.8375rem;
  margin-inline: auto;
  overflow: hidden;

  &__header {
    align-items: center;
    background-color: color('header-background', 'ide');
    border-block-end: 1px solid color('border');
    border-radius: var(--doc-border-radius-md) var(--doc-border-radius-md) 0 0;
    display: flex;
    gap: 1rem;
    padding: 0.45rem 1.25rem;
  }

  &__controls {
    display: flex;
    gap: 0.5rem;
  }

  &__control {
    --dimension: 0.75rem;
    block-size: var(--dimension);
    border-radius: 50%;
    inline-size: var(--dimension);
  }
}
