@use 'sass:color';
@use 'sprucecss/scss/spruce' as *;

@include generate-color-variables(
  $dark-colors,
  ':root[data-theme-mode="dark"]'
);

[data-theme-mode='dark'] {
  color-scheme: dark;

  /* stylelint-disable-next-line selector-no-qualifying-type */
  select.form-control:not([multiple]):not([size]) {
    @include field-icon(
      config('select', $form-icon, false),
      color('select-foreground', 'form', true, $dark-colors),
    );
  }

  .site-navigation {
    a {
      &:hover,
      &[aria-current='page'] {
        color: color('secondary');
      }
    }
  }

  .open-search {
    .btn--outline-primary {
      @include set-css-variable((
        --btn-color-primary-outline-border: hsl(0deg 0% 100% / 25%),
        --btn-color-primary-outline-foreground: hsl(0deg 0% 100%),
      ));
    }
  }

  .hero-wrapper {
    background-color: hsl(211deg 70% 12.5%);
  }

  .post-navigation-item {
    &__title {
      color: color('secondary');
    }
  }
}
